stog-ocaml-session
doc/.stog/cache
ocamldoc
.chamo*
*.cm*
*.o
*.a
*.annot
*.byte
stog
stog-gui
stog-output
doc-output
mk-stog*
latex2stog
stog_filter_parser.mli
stog_filter_parser.ml
stog_filter_parser.output
stog_filter_lexer.mli
stog_filter_lexer.ml
autom4te.cache
config.log
config.status
META
master.Makefile
ocaml_config.sh
stog_config.ml
