<html>
<header>
  <meta charset="utf-8"/>
  <link href="&lt;style-path/&gt;" rel="stylesheet" type="text/css"></link>
  <title><page-title/></title>
  <script type="text/javascript">
    stog_server = { wsUrl: '<ws-url/>' } ;
  </script>
</header>
<body>
<div id="ft" class="ojsft"> </div>
<div id="ojs-msg" class="ojs-messages"> </div>
<div id="bar" class="ojsed-bar"> </div>
<div id="ed" class="ojsed"> </div>
<script src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js">Please enable Javascript</script>
<script src="//http:cdn.jsdelivr.net/ace/1.1.8/min/ext-modelist.js">Please enable Javascript</script>
<script src="&lt;client-js-path/&gt;" type="text/javascript">Please enable Javascript</script>
</body>
</html>