<div itemscope="" itemtype="http://schema.org/BlogPosting" id="article">
<div class="date"><article-date/></div>
<h1 itemprop="name"><article-title/></h1>
<link itemprop="url" href="&lt;article-url/&gt;"/>
<div itemprop="articleBody" id="article-body">
<article-body/>
</div>
<div class="article-keywords">
<div class="bloc-keywords">
Domains: <div class="keywords"><topics sep=", "/></div>
</div>
<div class="bloc-keywords">
Keywords: <div class="keywords"><keywords sep=", "/></div>
</div>
</div>
<div itemprop="articleSection" class="section">
Commentaires <div class="root-comment-actions"><comment-actions/></div>
</div>
<div class="comments">
<comments/>
</div>

</div>
