<div itemscope="" itemtype="http://schema.org/BlogPosting" id="article">
<div class="date"><article-date/></div>
<h1 itemprop="name"><article-title/></h1>
<link itemprop="url" href="&lt;article-url/&gt;"/>
<div itemprop="articleBody" id="article-body">
<article-body/>
</div>
<div itemprop="articleSection" class="section">
Commentaires <div class="root-comment-actions"><comment-actions/></div>
</div>
<div class="comments">
<comments/>
</div>
<div class="bloc_keywords">
Thèmes: <div class="keywords"><article-topics setp=", "/></div>
</div>
<div class="bloc_keywords">
Mots-clés: <div class="keywords"><article-keywords sep=", "/></div>
</div>
</div>
