<html>
<head>
<title><site-title/> : <page-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
<rssfeed/>
</head><body>
<div id="page">
<include navbar-blog="active" file="menubar.tmpl"/>
<div id="header">
<if article-navbar="true"><div class="article-navbar"><if previous=""><span/><div class="navleft"><previous/></div></if><if next=""><span/><div class="navright"><next/></div></if></div></if>
</div>
<include file="sidebar.tmpl"/>
<contents/>
</div>
<footer id="bottombar">
</footer>
</body>
</html>