Les commentaires fonctionnent par mail, ce qui est plus aisé pour
s'exprimer, se relire, prendre le temps.

Merci de laisser les informations entre crochets dans le sujet
du message.

Si vous ne souhaitez pas que votre commentaire soit publié, merci
de me l'indiquer dans votre message.

Vous pouvez (et ce serait mieux de) supprimer ce texte explicatif
dans votre message.