<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<!--<image float="right" src="&lt;site-url/&gt;/stog-logo.svg" width="30"/>-->
<env_ mainpage="&lt;site-url/&gt;/index.html">
  <a class="brand" href="&lt;mainpage/&gt;"><site-title/></a>
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><a href="&lt;mainpage/&gt;">Home</a></li>
    <li class="&lt;navbar-install/&gt;"><page href="install"/></li>
    <li class="&lt;navbar-doc/&gt;"><page href="doc"/></li>
    <li class="&lt;navbar-blog/&gt;"><page href="blog">Blog</page></li>
    <li class="&lt;navbar-about/&gt;"><page href="about">?</page></li>
  </ul>
  <div class="nav pull-right">
<!--
  <ul class="nav">
   <li><div class="langswitches"><langswitch languages="fr,en"/></div></li>
  </ul>
-->
  </div>
</env_>
</div>
</div>
