<html>
<head>
<title><site-title/> : <page-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet/less" type="text/css" href="style.less"></link>
<script src="less.js" type="text/javascript">foo</script>
<rssfeed/>
</head><body>
<include file="topbar.tmpl"/>
<div id="page">
<div id="header">
<div id="site-title"><a href="&lt;site-url/&gt;/index.html"><site-title/></a></div>
<div class="site-desc"><site-description/></div>
</div>
<aside><env_ archivetree="false" sitegraph="false"><include file="sidebar.tmpl"/></env_></aside>
<div class="page-title"><page-title/></div>
<contents/>
</div>
<footer id="bottombar">
</footer>
</body>
</html>