<table class="release" summary="release &lt;number/&gt;">
<tr>
<td class="release-number">
<a href="&lt;url/&gt;"><b><number/></b></a> (<date/>)
</td>
<td class="release-desc">
<include-contents/>
</td>
</tr>
</table>