<html>
<header>
<meta charset="utf-8"/>
<title><app_name param_="true"/>: <title_ name_="title" param_="true"/></title>
<headers param_="true" type_="xmls" optional_="true"/>
</header>
<body>
<content_ name_="body" param_="true" type_="xmls"/>
</body>
</html>