<post title="Including a code file (deferring evaluation)"
date="2012/03/13"
topics="stog"
keywords="highlight, include, code"
published="true"
>
<p>How to highlight a file inserted with <icode lang="xml">&lt;include ...&gt;</icode> ?
</p>
<sep_/>
<p>
If you want to include and highlight for example the <icode>../../plugins/plugin_example.ml</icode> file
relative to your project directory, you can try
<hcode lang="xml"><![CDATA[<hcode raw="true" lang="ocaml"><include file="../../plugins/plugin_example.ml"/></hcode>]]></hcode>
but this will only result in
<hcode lang="ocaml"><include raw="true" file="../../plugins/plugin_example.ml"/></hcode>
</p>
<p>This is because <icode>&lt;hcode...&gt;</icode> is evaluated immediately, displaying
its children nodes. What you need is to defer the evaluation of <icode>&lt;hcode...&gt;</icode>,
using the special <icode>defer_</icode> attribute:
<hcode lang="xml"><![CDATA[<hcode raw="true" lang="ocaml" defer_="1"><include file="../src/plugins/stog_disqus.ml"/></hcode>]]></hcode>
This will give the expected result:
<hcode lang="ocaml" defer_="1"><include raw="true" file="../../plugins/plugin_example.ml"/></hcode>
</p>
<p>
The <icode>defer_</icode> attribute is decremented each time the node should be evaluated.
So the first time, the value is 1, so the children are evaluated first, then the
<icode>&lt;hcode&gt;</icode> node is returned with a <icode>defer_</icode> attribute
decremented, i.e. 0, and with the result of <icode>&lt;include ...&gt;</icode>
as children. During the next evaluation, the <icode>&lt;hcode&gt;</icode> is evaluated
and it now highlights its children, that is the contents of the included file.
</p>
<p><icode>defer_</icode> can take values greater than 1, if you need to nest deferred evaluations.</p>
</post>