<post title="Stog 0.19.0"
date="2021/05/17"
topics="stog"
keywords="release"
published="true"
>
<p>
Release 0.19.0 of stog is available from the <page href="/install"/> page.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>fix invalid output of closing tags in markdown plugin when using omd,</li>
<li>more debug in -D mode,</li>
<li>upgrade to OCaml 4.12.0 and various library versions,</li>
<li><icode>main_</icode> attribute must be used instead of <icode>main</icode>
  to indicate main document (a deprecation warning is issued when <icode>main</icode>
  is used).</li>
</ul>

</post>
