<post title="Stog 0.20.0"
date="2021/12/02"
topics="stog"
keywords="release"
published="true"
>
<p>
Release 0.20.0 of stog is available from the <page href="/install"/> page.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>use dune to build and install,</li>
<li>rename modules and create separate packages,</li>
<li>[fix] handle "_none_" filename in ocaml evaluation error/warning messages.</li>
</ul>
</post>
