<post title="Stog 1.0.0"
date="2024/03/13"
topics="stog"
keywords="release"
published="true"
>
<p>
Release 1.0.0 of stog is available from the <page href="/install"/> page.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>highlight: issue only one <code>"Higlo: unknown language %s. Falling back to external highlight"</code>
  warning per unknown language,</li>
<li>upgrade to ocaml &gt;= 5.0.0,</li>
<li>upgrade to Conduit &gt;= 6.2.1,</li>
<li>Use <ml>Js.Unsafe.pure_js_expr</ml> insteaf of <ml>Js.Unsafe.variable</ml>,</li>
<li>upgrade to Higlo 0.9.</li>
</ul>
</post>
