<post title="Stog 1.1.0"
date="2024/12/12"
topics="stog"
keywords="release"
published="true"
>
<p>
Release 1.1.0 of stog is available from the <page href="/install"/> page.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to Xtmpl 1.0.0 and ojs_base 0.8.0,</li>
<li>ocaml eval: trim toplevel output,</li>
<li>fix asy plugin because now asymptote adds extension to output file.</li>
</ul>
</post>
