<post title="Stog-rdf 0.9.0"
date="2013/09/27"
topics="stog-rdf"
keywords="release,rdf,sparql"
published="true"
>
<p>
Release 0.9.0 of stog-rdf is available from the <doc href="plugins/rdf"/> page.
</p>
<sep_/>
</post>