<plugin
title="Graphviz"
with-contents="true"
>
<contents>
<p>
The <icode>stog_dot</icode> plugin eases the <span id="desc">inclusion of Graphs using the
<ext-a href="http://graphviz.org">Graphiz</ext-a> tools (dot, ...)</span>.
</p>
<p class="alert alert-warning">
The Graphviz tools must be installed to use this plugin.
</p>

<p>Usage:</p>
<command-line>$ stog --package stog_dot ...</command-line>

<p>This plugin adds a new <doc href="module_base#base">base rule</doc>
 <rule>dot</rule>.
Here are the possible ways to use it:
</p>
<table class="table table-bordered">
<tr><th>Code</th><th>Result</th></tr>
<tr>
<td>
Output to <code>graph1.svg</code>, using an <ixml>&lt;img&gt;</ixml>
node to show the image:
<div class="hide" id="code1"><![CDATA[
<dot outfile="graph1.svg">digraph g {
  rankdir = LR;
  a [ shape="box" ] ;
  a -> b; a -> c ; b -> c ;
}</dot>]]>
</div>
<hcode lang="xml" defer_="1"><include subs-only="true"  href="#code1"/></hcode></td>
<td><as-xml defer_="1"><include subs-only="true" href="#code1"/></as-xml></td>
</tr>

<tr>
<td>
Output a <code>png</code> file to <code>graph2.png</code>,
use <code>neato</code> instead of <code>dot</code> in
the command and read source from <code>graph.dot</code>:
<div class="hide" id="code2"><![CDATA[
<dot command="neato"
   src="graph.dot" type="png" outfile="graph2.png"/>
]]></div>
<hcode lang="xml" defer_="1"><include subs-only="true"  href="#code2"/></hcode>
With <code>graph.dot</code>:
<hcode defer_="1" lang="dot"><include raw="true" file="./graph.dot"/></hcode></td>
<td><as-xml defer_="1"><include subs-only="true" href="#code2"/></as-xml></td>
</tr>

<tr>
<td>
With <ixml>&lt;doc-...&gt;</ixml> rules to get links and labels,
using attribute <ixml>defer_="1"</ixml> in the <ixml>&lt;dot&gt;</ixml>
so that rewriting is performed in its children before the
code is being passed to dot:
<div class="hide" id="code3"><![CDATA[
<dot defer_="1">
digraph g {
  rankdir = LR;
  plugins -> asy ;
  plugins -> dot ;
  plugins [ href="<doc-url doc-path="plugins"/>" ]
  asy [
     href="<doc-url doc-path="plugins/asy"/>",
     label="<doc-title doc-path="plugins/asy"/>" ] ;
  dot [ href="<doc-url doc-path="plugins/dot"/>" ] ;
}</dot>]]>
</div>
<hcode lang="xml" defer_="1"><include subs-only="true" href="#code3"/></hcode>
Since no <code>outfile</code> attribute is given, the <code>svg</code>
file produced is included (no use of <ixml>&lt;img&gt;</ixml>).
</td>
<td>The node labels are clickable and the links are generated
(and so valid) by Stog:
<as-xml defer_="3"><include subs-only="true" href="#code3"/></as-xml></td>
</tr>

<tr>
<td>
Including again the produced <code>svg</code> file. To avoid
conflicts in ids, we use the <ixml>prefix-svg-ids="foo"</ixml>
attribute:
<div class="hide" id="code4"><![CDATA[
<dot prefix-svg-ids="foo">digraph g {
  rankdir = LR;
  a [ shape="box" ] ;
  a -> b; a -> c ; b -> c ;
}</dot>]]></div>
<hcode lang="xml" defer_="1"><include href="#code4" subs-only="true"/></hcode></td>
<td><as-xml defer_="1"><include subs-only="true" href="#code4"/></as-xml></td>
</tr>

<tr>
<td>The contents of the <code>args</code> attribute is used
as additional argument to the command which is run:
<div class="hide" id="code5">
<![CDATA[
<dot prefix-svg-ids="bar" args="-Nshape=box">
digraph g {
  rankdir = LR;
  a -> b; a -> c ; b -> c ;
}</dot>]]>
</div>
<hcode lang="xml" defer_="1"><include subs-only="true" href="#code5"/></hcode></td>
<td><as-xml defer_="1"><include subs-only="true" href="#code5"/></as-xml></td>
</tr>

</table>
</contents>
</plugin>