<plugin
title="Stog_multi_doc"
with-contents="true"
>
<contents>
<p>
This plugin allows the
<span id="desc">definition of several documents into one XML file</span>.
</p>

<p>Usage:</p>
<command-line>$ stog --package stog_multi_doc ...</command-line>
<prepare-toc>
<toc/>
<section id="example" title="Example">
<p>
Suppose we have the following XML document in the
file <code>smallposts.html</code> at the root of a Stog directory:
</p>
<hxml><![CDATA[
<multi sets="smallposts">
  <smallpost id="post1" title="First post" date="2014/01/21">
    The first post ...
  </smallpost>
  <smallpost id="post2" title="Second post" date="2014/01/22">
    The second post ...
  </smallpost>
  <contents type="page" title="My small posts">
    This is the body of the document "/smallpost".
    We can list our small posts here:
    <documents type="smallpost" set="smallposts"/>
  </contents>
</multi>]]>
</hxml>
<p>
The <code>muti</code> node at the root of the document indicates that
several documents are defined. The whole document is first read as any
other document: it can have attributes specified for the <code>multi</code>
node, and the body is the contents under this node.
</p>
<p>The multi-doc plugin adds a level -10 to cut the documents of type
"multi". To do so, each root node of the body is read as if it was
in its own file. Here we declare two documents of type "smallpost",
with titles, dates and bodies. The <rule>contents</rule> node contains
the body of the document "/smallposts". The two other documents are named
"/smallposts/post1" and "/smallposts/post2", from the path of the
document and their respective ids, using a default separator "/".
The <rule>contents</rule> node must have a <code>type</code> attribute.
</p>
<p>
All documents share the definitions appearing in the original "multi" document,
here <ixml>sets="smallposts"</ixml>.
</p>
</section>

<section id="naming" section="Naming created documents">
<p>The paths of the created documents are forged from the path of the
"multi" document, the <code>id</code> attribute of each "sub" document
and a separator. The default separator is "/" but it can specified
with the <code>path-sep</code> attribute:
</p>
<hxml><![CDATA[
<multi path-sep="-" ...>
  <smallpost id="post1" ...>...</smallpost>
  <smallpost id="post2" ...>...</smallpost>
  <contents type="...">...</contents>
</multi>
]]></hxml>
<p>With the code above, the two "smallpost" documents will have paths
"/smallposts-post1" and "/smallposts-post2". They can be refered to
for example with <rule>doc</rule> rule:
</p>
<hxml><![CDATA[<doc href="/smallposts-post1"/>]]></hxml>

</section>

<section id="with-contents" title="Using with-contents">
<p>
As any other document, one can use the <ixml>with-contents="true"</ixml> attribute
to indicate that the body of the document is included in a <rule>contents</rule> node.
Here is an example using <ixml>with-contents="true"</ixml> for the multi document,
for the rest of the definition of this documents and for one of the "smallpost" documents:
</p>
<hxml defer_="1"><include file="../smallposts.html" raw="true"/></hxml>
<p>
The result is visible <doc href="/smallposts">here</doc>.
</p>
</section>

</prepare-toc>
</contents>
</plugin>