<plugin
title="Stog_rel_href"
with-contents="true"
>
<contents>
<p>
By now, this plugin only adds a rewriting level to <span id="desc">change
URLs with fragments in
<ixml>href</ixml> attributes of a document to keep only "#" followed by the fragment,
when refering to the same document</span>.
</p>
<p>For example, in a document whose final URL is <code>http://foo.bar/buz.html</code>,
<code>href</code> attributes containing <code>http://foo.bar/buz.html#frag</code>
with be changed to refer to only <code>#frag</code>. This prevents some browsers
from reloading the whole page when following a link to another part of the document.
</p>

<p>Usage:</p>
<command-line>$ stog --package stog_rel_href ...</command-line>

</contents>
</plugin>