<plugin title="Stog_sitemap"

>
<p>This is a plugin to <span id="desc">generate a
<ext-a href="https://en.wikipedia.org/wiki/Sitemaps">Sitemap</ext-a> for
a web site</span> compiled with Stog.
</p>
<p>Usage:</p>
<command-line>$ stog --package stog_sitemap ... </command-line>

<p>
By default, this plugin generates a <code>sitemap.xml</code> file in
the target directory. You can edit <code>.stog/config-sitemap</code>
to change the destination file and set which types of documents appear
in the sitemap, and their associated change frequency and priority.
</p>
<p>Here is an example of such a file:</p>
<hcode lang="json" defer_="1"><include raw="true" file="../.stog/config-sitemap"/></hcode>
<p>Moreover, each document can define the following values to change the
default behaviour to this document:
</p>
<hxml><![CDATA[<page title="..."
in-sitemap="true"
sitemap-frequency="hourly"
sitemap-priority="0.9"
...
>
...
</page>]]></hxml>
</plugin>