<page title="Installation"
navbar-install="active"
with-contents="true"
>
<release_ version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://framagit.org/zoggy/stog/-/archive/&lt;version/&gt;/stog-&lt;version/&gt;.tar.gz"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes" id="changes-&lt;version/&gt;"/>
</li>
</release_>

<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="&lt;site-url/&gt;/releases/stog-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release>


<contents>
<prepare-toc depth="2">
<toc></toc>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use  <ext-a href="http://opam.ocaml.org">Opam</ext-a>.
Install Opam, then, as a regular user, fetch and install an OCaml version and install Stog.
The whole can be done with the following opam commands:
</p>
<command-line>
$ opam init --compiler=5.1.0
$ opam update
$ opam install stog
</command-line>
<p><doc href="plugins">Plugins</doc> can be installed one by one
or by installing the package <icode>stog_plugins</icode>:</p>
<command-line>
$ opam install stog_plugins
# same as opam install stog_asy stog_dot stog_extern stog_markdown stog_multi_doc stog_nocaml stog_noexec stog_rel_href stog_sitemap stog_writing
</command-line>
<p>The <doc href="server">preview server</doc> is installed by</p>
<command-line>
$ opam install stog_server
</command-line>
</section>

<section id="extdeps" title="External tools required">
<p>
You will need to have the following tools installed to use
some functions:
</p>
<ul>
<li><ext-a href="http://www.andre-simon.de/doku/highlight/en/highlight.html">highlight</ext-a>
to use syntax highlighting for languages not supported by
<ext-a href="http://zoggy.frama.io/higlo/">Higlo</ext-a>,</li>
<li>LaTeX and <ext-a href="http://dvisvgm.sourceforge.net/">dvisvgm</ext-a> to embed
LaTeX in your pages.</li>
</ul>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<command-line>$ git clone https://framagit.org/zoggy/stog.git</command-line>

<p>Or pick one of the releases:</p>
<ul>
<release version="1.1.0"/>
<release_ version="1.0.0"/>
<release_ version="0.20.0"/>
<release_ version="0.19.0"/>
<release_ version="0.18.0"/>
<release_ version="0.17.1"/>
<release_ version="0.17.0"/>
<release_ version="0.16.0"/>
<release_ version="0.15.0"/>
<release_ version="0.14.0"/>
<release_ version="0.13.0"/>
<release_ version="0.12.0"/>
<release_ version="0.11.1"/>
<release_ version="0.11.0"/>
<release_ version="0.10.0"/>
<release_ version="0.9.0"/>
<release_ version="0.8.0"/>
<release_ version="0.7.0"/>
<release_ version="0.6.1"/>
<release_ version="0.6"/>
<release_ version="0.5"/>
<release_ version="0.4"/>
<release_ version="0.3"/>
<release_ version="0.2"/>
<release_ version="0.1"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>
Just type
</p>
<command-line>make install</command-line>
<p>
This will compile and install <icode>stog</icode>, <icode>stog.byte</icode>,
<icode>stog-server</icode>, <icode>stog-server.byte</icode>,
<icode>stog-ocaml-session</icode> and <icode>stog-tmpl</icode> into the same directory as
<icode>ocamlc</icode>. This will also install the <icode>stog</icode> library and the
<icode>stog_asy</icode>,
<icode>stog_extern</icode>,
<icode>stog_dot</icode>,
<icode>stog_markdown</icode>,
<icode>stog_multi-doc</icode>,
<icode>stog_nocaml</icode>,
<icode>stog_rdf</icode>,
<icode>stog_rel_href</icode>,
<icode>stog_sitemap</icode>,
and <icode>stog_writing</icode> packages.
</p>
</subsection>
</section>

</prepare-toc>
</contents>
</page>
