<page title="Plugins"
navbar-plugins="active"
with-contents="true"
>
<dp name="">
<dt><doc href="&lt;name/&gt;"><name/></doc></dt>
<dd><include href="plugins/&lt;name/&gt;#desc" id="desc-&lt;name/&gt;"/></dd>
</dp>
<contents>
<p>
Some plugins are included in Stog distribution:
</p>
<dl>
<dp name="asy"/>
<dp name="dot"/>
<dp name="extern"/>
<dp name="markdown"/>
<dp name="multi_doc"/>
<dp name="nocaml"/>
<dp name="noexec"/>
<dp name="rdf"/>
<dp name="rel_href"/>
<dp name="sitemap"/>
<dp name="writing"/>
</dl>

<p>
<a href="mailto:zoggy%20AT%20bat8.org">Tell me</a> if you known about other plugins.
</p>
</contents>
</page>