<page title="Stog main document"
navbar-doc="active"
>
<p>
One <doc href="stog-documents">document</doc> is called the main document. This document is a regular
document with the <icode>main_</icode> attribute set to "true". There can be only
one main document.
</p>
<p>
Some attributes of this main document are used to specify site-wide information:
</p>
<ul>
<li><b>title</b>: The title of the site is the same as this document and can be accessed
with <rule>site-title</rule> in templates,</li>
<li><b>stog:site-description</b>: A short description of the site; use <rule>site-description</rule>
to access it in templates;</li>
<li><b>stog:site-url</b>: The base url of the site, used to forge urls when generating pages;
use <rule>site-url/</rule> to insert it in templates,</li>
<li><b>stog:site-email</b>: A contact email for the site, accessible with <rule>site-email</rule>,</li>
<li><b>stog:rss-length</b>: The default length of RSS feeds.</li>
</ul>
<p>
In the main document, any attribute beginning with "stog:" will be used as global attribute
and accessible in all templates by its name. Other attributes are associated to the document only.
</p>
</page>
