<sw-page title="&lt;site-title param_=&quot;true&quot;/&gt;"
main_="true"
stog:use="software"
stog:site-description=""
stog:site-email="you 'AT' yoursite 'DOT' net"
stog:site-url="https://yoursite.net"
stog:rss-length="10"
stog:section-counter="false"
stog:subsection-counter="false"
navbar-home="active"
>
<section>
<p>
<sw-name param_="true"/> is ...
</p>
</section>

<section title="License">
<p><sw-name/> is released under the ...</p>
</section>

<section title="Author and contact">
<p>

</p>
</section>

</sw-page>