<[set navbar true]>
<<include "header.tmpl">>
<article itemscope itemtype="http://schema.org/BlogPosting" id="article">
<div class="date"><<date>></div>
<h1 itemprop="name"><<title>></h1>
<div itemprop="articleBody" id="articlebody">
<<body>>
</div>
<div itemprop="articleSection" class="section">
Commentaires <div class="root-comment-actions"><<comment-actions>></div>
</div>
<div class="comments">
<<comments>>
</div>
<div itemprop="keywords" class="bloc_keywords">
Thèmes: <div class="keywords"><<topics>></div>
</div>
<div itemprop="keywords" class="bloc_keywords">
Mots-clés: <div class="keywords"><<keywords>></div>
</div>
</article>
<<include "footer.tmpl">>