<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" class="article-item">
<div class="article-item-title">
<link itemprop="url" href="&lt;article-url/&gt;"/>
<a href="&lt;article-url/&gt;"><span itemprop="name"><article-title/></span></a>
</div>
<div class="date"><article-date/></div>
<div itemprop="headline" class="article_intro"><article-intro/></div>
</div>