<html>
<head>
<title><blog-title/> : <pagetitle/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet/less" type="text/css" href="&lt;blog-url/&gt;/style.less"></link>
<script src="&lt;blog-url/&gt;/less.js" type="text/javascript">foo</script>
<rssfeed/>
</head><body>
<include file="topbar.tmpl"/>
<div id="page">
<div id="header">
<image float="right" src="&lt;blog-url/&gt;/toplogo.png" width="50"/><div id="blogtitle"><a href="&lt;blog-url/&gt;/index.html"><blog-title/></a></div>
<div class="blogdesc"><blog-description/></div>
<if navbar="true"><nav class="navbar"><div class="navleft"><previous/></div><div class="navright"><next/></div></nav></if>
</div>
<aside><include file="sidebar.tmpl"/></aside>
<contents/>
</div>
<footer id="bottombar">
</footer>
</body>
</html>