<div itemscope="" itemtype="http://schema.org/UserComments" class="comment">
<div class="comment-info">
<div class="comment-actions"><comment-actions/></div>
<div itemprop="name" class="comment-subject"><subject/></div>
<div class="comment-date">Date: <date/></div>
<div class="comment-from">From: <from/></div>
<div class="comment-to">To: <to/></div>
</div>
<pre itemprop="commentText" class="comment-body">
<body/>
</pre>
<div class="subcomments"><comments/></div>
</div>