<html>
<head><title><blog-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet/less" type="text/css" href="style.less"/>
<rssfeed/>
<script src="less.js" type="text/javascript">foo</script>
</head>
<body>
<include file="topbar.tmpl"/>
<div itemscope="" itemtype="http://schema.org/Blog" id="page">
<div id="header">
<image float="right" src="toplogo.png" width="50"/>
<div id="blogtitle">
<a itemprop="url" href="&lt;blog-url/&gt;">
<span itemprop="name"><blog-title/></span></a></div>
</div>
<div itemprop="description" class="blogdesc"><blog-description/></div>
<div class="blogbody"><blog-body/></div>
<aside><include file="sidebar.tmpl"/></aside>
<articles max="30"/>
</div>
<footer id="bottombar">
</footer>
</body>
</html>