<<include "index_header.tmpl">>
<div class="blogdesc"><<blogdescription>></div>
<div class="blogbody"><<blogbody>></div>
<div id="archives">Archives: <<archive_tree>></div>
<<articles 10 >>
<<include "footer.tmpl">>