<!DOCTYPE html>
<html>
<head><title><<blog-title>></title><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/><link href="<<stylefile>>" type="text/css" rel="stylesheet" title="Default"/><<rssfeed>></head><body>
<<include topbar.tmpl>>
<div itemscope itemtype="http://schema.org/Blog" id="page">
<div id="header">
<<img-right "toplogo.png" 50>>
<div id="blogtitle">
<span itemprop="name"><<blog-title>></span></div>
</div>