<div class="sidebar">
<if searchform="false"><span/><search-form/></if>
<if archivetree="false"><span/><div><div id="archives">Archives: <archive-tree/></div></div></if>
<if sitegraph="false"><span/><div id="graph">Graphe: <graph/></div></if>
</div>
