body {
  font-family: sans-serif ;
  font-size: 1em;
  background-color: #456290 ;

}

div#page {
  margin-top: -0.55em;
  background-color: white;
  color: #222222 ;
  width: 800px;
  margin-left: auto ;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 0 5px 0 5px ;
  border-style: solid ;
  border-color: #DDDDDD;
  height: 100%;
}

div#header {

}

div#blogtitle {
  text-align: center;
  font-size: 18pt;
  }

div#articlebody {
  text-align: justify;
}

div#article {
  margin-left: 1em;
  margin-right: 1em;
}

h1 { font-size: 20pt;
  color: #222222 ;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  }

div.date {
  font-style: italic ;
  color: #555555;
  font-size: 90%;
}

div.blogdesc {
  font-style: italic ;
  text-align: center ;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em ;
  padding-right: 2em ;
}

div.blogbody {

}

div.article_item {
  margin-bottom: 1em;
}

div.article_item_title { font-size: 120% ; }
div.article_item div.date { display: inline ; margin-left: 1em;}
div.article_item a { text-decoration: inherit ; color: inherit ;  }
div.article_item a:hover { text-decoration: inherit ; color: white ; background-color: red ;  }