<div id="background">
<div id="page">
<topbar param_="true" type_="xmls"/>
<div class="page-title"><title_ name_="title" param_="true"/></div>
<page-error param_="true" type_="xmls" optional_="true"/>
<content_ name_="body" param_="true" type_="xmls"/>
</div>
</div>