<html>
<header>
<meta charset="utf-8"/>
<title><app_name param_="true"/>: <title_ name_="title" param_="true"/></title>
<headers param_="true" type_="xmls" optional_="true"/>
</header>
<body>
<div id="page">
<topbar param_="true" type_="xmls"/>
<div class="page-title"><title_/></div>
<page-error param_="true" type_="xmls" optional_="true"/>
<content_ name_="body" param_="true" type_="xmls"/>
</div>
</body>
</html>