<div id="&lt;ft_id param_=&quot;true&quot;/&gt;" class="ojsft"> </div>
<div id="&lt;ojs_msg_id param_=&quot;true&quot;/&gt;" class="ojs-messages"> </div>
<div id="&lt;bar_id param_=&quot;true&quot;/&gt;" class="ojsed-bar"> </div>
<div id="&lt;git_id param_=&quot;true&quot;/&gt;" class="ojs-gitbox"> </div>
<div id="&lt;ed_id param_=&quot;true&quot;/&gt;" class="ojsed"> </div>

<script src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js">Please enable Javascript</script>
<script src="//cdn.jsdelivr.net/ace/1.1.8/min/ext-modelist.js">Please enable Javascript</script>
<script src="&lt;client_js_path param_=&quot;true&quot;/&gt;" type="text/javascript">Please enable Javascript</script>
