<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" class="doc-item">
   <div class="doc-item-title">
     <link itemprop="url" href="&lt;doc-url/&gt;"/>
     <doc href="&lt;doc-path/&gt;"/>
   </div>
   <div class="date"><doc-date/></div>
   <div itemprop="headline" class="doc-intro"><doc-intro/></div>
</div>