<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<title><site-title/> : <doc-title/></title>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
</head>
<script type="text/javascript">
function submitSearch(){
    var q = document.getElementById('q');
    q.value =q.value + " site:<site-url/> ";
    return true;
}
</script>
<body>
<div id="page">
<include file="menubar.tmpl"/>
<div id="header">
  <if doc-type="page"><doc-navpath> / </doc-navpath></if>
  <if doc-type="plugin"><doc-navpath> / </doc-navpath></if>
  <if doc-type="post">
    <div class="doc-navbar">
      <if previous=""><dummy_/><div class="navleft"><previous/></div></if>
      <if next=""><dummy_/><div class="navright"><next/></div></if>
    </div>
  </if>
  <if doc-type="ocamldoc"><dummy_/><div class="page-title"><doc-title/></div></if>
</div>
<if withsidebar="true"><include file="sidebar.tmpl"/><dummy_/></if>
<if doc-type="post"><div class="date"><doc-date/></div></if>

<doc-body/>

<if doc-typbe="post">
 <div class="comments">
 <hr width="100%"/>
  <div>
    <div class="doc-keywords">
      <div class="bloc-keywords">
      Topics: <div class="keywords"><doc-topics sep=", "/></div>
      </div>
      <div class="bloc-keywords">
      Keywords: <div class="keywords"><doc-keywords sep=", "/></div>
      </div>
    </div>
  </div>
  <div itemprop="articleSection" class="section">
    <comments/>
  </div>
 </div>
</if>

<if doc-type="page"><doccode/></if>
<if doc-type="post"><doccode/></if>
<div id="footer">
<div class="generatedon">Generated on <date-now/></div>
</div>
<!--<script type="text/javascript" src="&lt;site-url/&gt;/jquery.js">_</script>-->
<!--<script type="text/javascript" src="&lt;site-url/&gt;/bootstrap-collapse.js">_</script>-->

</div> <!-- #page -->
</body>
</html>
