<div class="doc-item">
     <div class="doc-item-title">
       <link href="&lt;doc-url/&gt;" itemprop="url"/>
       <doc href="&lt;doc-path/&gt;">&lt;<doc-title/>&gt;</doc> - <descr/>
     </div>
     <div class="doc-intro" itemprop="headline">
       <hxml defer_="1"><synopsis/></hxml>
     </div>
  </div>