<include navbar-doc="active" file="page.tmpl"
  doc-title="&amp;lt;&lt;doc-title/&gt;&amp;gt; -  &lt;descr/&gt;"
  doc-body="&lt;contents/&gt;"
>
<section id="synopsis" title="Synopsis">
<hxml defer_="1"><synopsis/></hxml>
</section>
<section id="descr" title="Description">
<doc-body/>
</section>
</include>