<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><site-title/> : <doc-title/></title>
<!-- configuration parameters -->
<meta name="defaultView" content="slideshow" />
<meta name="controlVis" content="hidden" />
<!-- Slidy style sheet links and JS -->
<link rel="stylesheet" href="&lt;site-url/&gt;/slides/slidy.css" type="text/css"/>
<script src="&lt;site-url/&gt;/slides/slidy.js" type="text/javascript">_</script>

<!-- Stog style -->
<link rel="stylesheet" href="&lt;site-url/&gt;/slides.css" type="text/css" media="all"/>
<meta name="duration" content="&lt;duration/&gt;" />
</head>
<body>
<div class="background"> </div>

<div class="slide cover title">
<h1><doc-title/></h1>
<h2><subtitle/></h2>
<div class="cover-details">
<p><author/>  &#x2014; <affiliation/></p>
<p><doc-date/></p>
</div>
</div>

<doc-body/>

<div class="slide">
<h1>Credits</h1>
<p>
Slideshow scripts from <ext-a href="http://www.w3.org/Talks/Tools/Slidy2/#%281%29">Dave Raggett</ext-a>
</p>
</div>
</body>
</html>
