<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><site-title/> : <doc-title/></title>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/video-style.css"></link>
</head>
<body>
<div id="slide">
<doc-body/>
</div> <!-- #page -->
</body>
</html>
